
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

main {
    background-image: url(../assets/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-bottom-style: groove;
    border-bottom-color:#ebb566;
    border-bottom-width: 7px;
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

label {
    margin: 10px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 400px;
    height: 300px;
    border-radius: 30px;
}

.dropdown-selection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    background-color: #a9d6e5;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skyline, .waterfront, .castle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid rgb(212, 207, 207) 2px;
    border-radius: 30px;
    height: 300px;
    width: 400px;
    margin: 20px 20px 20px 20px;
}

.count {
    background: none;
    width: 263px;
    height: 100px;
    border-radius: 10px;
}

.input-and-display {
    display: flex;
    flex-direction: row;
}
.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2px;  
    width: 600px;
    height: 180px;
}

#city-box, #slogan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.slogans {
    flex-direction: row;
    width: 450px; 
}

.city {
    flex-direction: row;
    width: 450px;
}

#slogan-input, #city-input {
    border-radius: 5px;
    height: 40px;
    width: 250px;
}
#slogan-button, #city-button {
    background-color: #f0c88c;
    font-size: larger;
    margin-right: 20px;
    margin-left: 20px;
    border: solid 2px black;
    border-radius: 5px;
    cursor: pointer;
}

.display-box {
    display: flex;
    flex-direction: column;
    background:whitesmoke;
    border-radius: 10px;
    margin: 10px; 
}
.my-city {
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
    color: #3d5a80;
    /* text-decoration-line: underline; */
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    margin: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
}




